@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

img {
	float: left;
}


#text-intro {
	background-color: rgb(62, 61, 61);
	border: 2px solid red;
	color: red;
	padding: 1em;
	
}

#section-about {
	margin-bottom: 1em;
	border-color: red;
}



.album-art {
    border: 2px solid red;
	margin-right: 2em;
	margin-top: 2em;
	padding: 1em;
	width: 96px;
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	border: 2em;
	margin-right: 2em;
	margin-top: 2em;
	padding: 1em;
	width: 240px;
}

.record-label {
	color: red;
	font-style: italic;


}

.track-list {

}

#about-photo {
	border: double red;
	margin-top: 1em;
	margin-right: 1em;
	padding: 1 em;
	width: 240px;
}


#copyright {
    color: red;

}

#section-about, #section-discography, #section-equipment {
	border: double red;
	padding: 1em;
	margin-left: 1em;
	margin bottom: 1em;
	
	

}
