@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p  {


}

#text-intro {
	background-color: rgb(62, 61, 61);
	color: red;
	border-style: solid;
	border-width: 2px 3px;
	padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
  padding-left: 10px;
	border-color: red;
}

#section-about {
	background-color: black;
	border-style: solid;
	border-width: 1px;
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	border-color: red;
}

 .about-photo {
	border-style: solid;
	 border: 1px;
	 border-color: red;
}

<<<<<<< HEAD

=======
>>>>>>> e1a9816a7b8f6647f03d48bab6f2367a9f93409c
.album-art {

}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	
}

.record-label {

}

.track-list {

}

#about-photo {

}

#copyright {

}

#section-about, #section-discography, #section-equipment {

}

#text-intro {
	
}
